<h3>Eredmények:</h3>
<style>
    td {vertical-align: middle !important;}
    tr { height: 90px;}
</style>
<div class="table-responsive">
    <table class="table">
        <thead>
        <tr>
            <th>Név</th>
            <th>AK szavazatok</th>
            <th>AK %</th>
            <th>HÖK szavazatok</th>
            <th>HÖK %</th>
            <th>Össz szavazatok</th>
            <th>Össz %</th>
        </tr>
    {{#each arr}}
        <tr>
            <td>{{nev}}</td>
            <td >{{aksz}}</td>
            <td >{{szazalek akprec}}</td>
            <td >{{hoksz}}</td>
            <td >{{szazalek hokprec}}</td>
            <td >{{sumsz}}</td>
            <td >{{szazalek sumprec}}</td>

        </tr>
    {{/each}}
</table>
</div>